body {
    font-family: "XoloniumRegular";
    font-weight: normal;
    font-style: normal;
}
h1 {
    text-align: center;
    user-select: none;
}
td {
    border: 4px black solid;
    margin: 0px -2px;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 0em;
    font-weight: bold;
    user-select: none;
}
table {
    margin: auto;
    border: 5px black solid;
    border-spacing: 0px;
}
.table {
    padding-top: 30px;
}
.button {
    text-align: center;
    margin-top: 50px;
}
#restart {
    width: 150px;
    height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: 2px black solid;
    transition: all 0.3s ease-out;
}
#restart:hover {
    box-shadow: 0 0 20px green;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
